.about {
  background-color: black;
  height: 100vh;
}

.mainabout {
  color: white;
}

.back {
  padding: 1rem;
  position: absolute;
}

.mainabout h1 {
  font-family: "Redaction 50";
  padding: 6vh 0 2vh 0;
  text-align: center;
  font-size: 5rem;
}

.mainabout p {
  font-family: "Redaction 10";
  text-align: left;
  padding: 0 10rem;
}

.aboutcel {
  display: none;
}

.buttons {
  padding: 2vh 1vh;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  grid-gap: 2%;
}

.mainabout h1,
h2,
p,
img,
.buttons,
.price,
.contato {
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
}

.button {
  cursor: pointer;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .aboutvideo {
    display: none;
  }

  .aboutcel {
    display: inline;
  }
}

@media (max-width: 600px) {
  .mainabout p {
    text-align: left;
    padding: 0 5rem;
  }

  .mainabout img {
    margin-left: 5rem;
  }
}
