.about {
  background-color: black;
  height: 100vh;
}

.mainabout {
  color: white;
}

.back {
  padding: 1rem;
}

.mainabout h1 {
  text-align: center;
  font-size: 5rem;
}

.mainabout p {
  text-align: left;
  padding: 0 10rem;
}

.mainabout img {
  margin-left: 10rem;
  width: 20vh;
  height: 20vh;
}

.buttons {
  padding: 15px 32px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  grid-gap: 2%;
}

.button {
  cursor: pointer;
}
