.artdetail {
  height: 100vh;
}

.backwhite {
  background-color: white;
  height: 50vh;
  text-align: center;
}

.backblack {
  background-color: black;
  height: 50vh;
  text-align: center;
}

.grid {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  grid-gap: 2%;
}

.grid h2 {
  padding-top: 10vh;
}

.backwhite img {
  max-height: 100%;
  max-width: 100%;
  padding-top: 10vh;
}

.backwhite p {
  margin-top: 1rem;
}

.center {
  padding: 5rem 25%;
}

.price {
  background-color: white;
  width: 150px;
  height: 28px;
  border-radius: 5px;
}

.contato {
  margin-top: 3vh;
  margin-bottom: 10px;
  color: white;
}

.button {
  text-decoration: none;
  color: white;
}
