.artdetail {
  height: 100vh;
}

.backwhite {
  background-color: white;
  height: 50vh;
  text-align: center;
}

.backblack {
  background-color: black;
  height: 50vh;
  text-align: center;
}

.grid {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  grid-gap: 2%;
}

.backwhite .grid h2 {
  font-family: "Redaction 50";
  padding-top: 10vh;
}

.backwhite h4 {
  font-family: "Redaction 50";
  padding-top: 6vh;
}

.backwhite img {
  max-height: 100%;
  max-width: 100%;
  padding-top: 1vh;
}

.backwhite .grid p {
  font-family: "Redaction 10";
  margin-top: 1rem;
}

.center {
  position: absolute;
  top: 10vh;
  right: 0;
}

.price {
  background-color: white;
  width: 5rem;
  border-radius: 5px;
  padding: 1rem;
}

.profile {
  width: 50%;
  padding: 10rem 0;
}

.profile .linkprofile {
  text-decoration: none;
  color: white;
}

.button {
  transition: 5s;
}

.button:hover {
  transition: 5s;
  background-color: white;
  border-radius: 90%;
}

.profile p {
  font-family: "Redaction 100";
}

@media (max-width: 1000px) {
  .backwhite .arttext {
    width: 35vh;
  }
}

@media (max-width: 600px) {
  .backwhite {
    height: 100%;
  }

  .backwhite .arttext {
    width: 50vh;
  }

  .backblack {
    height: 100%;
  }

  .grid {
    grid-template-columns: repeat(1, auto);
  }

  .center {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 30vh;
  }

  .profile {
    width: 100%;
    padding: 0;
    padding-top: 30vh;
  }
}
