.artdetail {
  height: 100vh;
}

.backwhite {
  background-color: white;
  height: 55vh;
  text-align: center;
}

.backblack {
  background-color: black;
  height: 55vh;
  text-align: center;
}

.grid {
  display: flex;
  justify-content: space-between;
}

.divtext {
  width: 50%;
  padding: 1rem;
}

.divimage {
  width: 50%;
  padding: 1rem;
}

.backwhite .grid h2 {
  font-family: "Redaction 50";
  padding-top: 10vh;
}

.backwhite h3 {
  font-family: "Redaction 50";
  padding-top: 6vh;
}

.backwhite img {
  max-width: 90vh;
  max-height: 90vh;
  padding-top: 1vh;
}

.backwhite .grid p {
  font-family: "Redaction 10";
  margin-top: 1rem;
}

.price {
  position: absolute;
  top: 10vh;
  right: 0;
  background-color: white;
  width: 5rem;
  border-radius: 5px;
  padding: 1rem;
}

.priceoff {
  display: none;
}

.profile {
  width: 52%;
}

.profile img {
  width: 100%;
}

.button {
  transition: 5s;
}

.button:hover {
  transition: 5s;
  background-color: white;
  border-radius: 90%;
}

.artimagesec {
  display: none;
}

.nextimage {
  cursor: pointer;
}

.imagenext {
  width: 15px;
  margin-left: 15px;
}

@media (max-width: 1400px) {
  .backwhite img {
    max-width: 70vh;
    max-height: 70vh;
  }
}

@media (max-width: 1200px) {
  .backwhite img {
    max-width: 60vh;
    max-height: 60vh;
  }
}

@media (max-width: 1000px) {
  .backwhite img {
    max-width: 50vh;
    max-height: 50vh;
  }
}

@media (max-width: 800px) {
  .backwhite {
    height: 100%;
  }

  .backwhite .arttext {
    width: 50vh;
  }

  .backblack {
    height: 50%;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    grid-gap: 2%;
  }

  .price {
    display: flex;
    justify-content: center;
    top: 60vh;
  }

  .profile {
    display: flex;
    justify-content: center;
    padding-top: 20vh;
    width: 100%;
  }

  .divtext {
    width: 100%;
  }

  .divimage {
    width: 100%;
  }
}
