.artdetail {
  background-image: url("../assets/Background.png");
  height: 100vh;
  background-size: cover;
}

.artdetail .grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.artdetail .grid .gridimage {
  padding: 0 10vh;
  margin-bottom: 2rem;
}

.artdetail .grid .gridtext {
  width: 80vh;
  padding: 20vh 10vh 0 0;
}

.artimage {
  padding-top: 10vh;
  max-width: 75vh;
}

.artdetail .gridtext h1 {
  color: white;
  font-weight: normal;
  margin-bottom: 1rem;
}

.artdetail .gridtext h3 {
  color: white;
  font-weight: normal;
  margin: 1rem 0;
}

.click {
  color: white;
  font-size: 0.8rem;
}

.play {
  color: white;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cbutton {
  cursor: pointer;
  padding: 10vh 3vh 10vh;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f8e9c9;
  font-size: 3rem;
  font-weight: bold;
}

.contactoff,
.priceoff {
  display: none;
}

@media (max-width: 1024px) {
  .artdetail {
    width: 100%;
  }

  .artdetail .grid {
    grid-template-columns: repeat(1, auto);
  }

  .artdetail .grid .gridimage {
    width: 80%;
    padding: 0 10%;
    margin-bottom: 2vh;
  }

  .artdetail .grid .gridtext {
    width: 100%;
    padding: 0;
  }

  .artimage {
    padding-top: 10vh;
    max-width: 100%;
  }

  .artdetail .gridtext h1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .artdetail .gridtext h3 {
    margin: 1rem 4rem;
    font-size: 1rem;
  }

  .play {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cbutton {
    padding: 0 3vh;
  }

  .price {
    font-size: 2rem;
  }
}
