.artdetail {
  height: 100vh;
}

.backwhite {
  background-color: white;
  height: 55vh;
  text-align: center;
}

.backblack {
  background-color: black;
  height: 55vh;
  text-align: center;
}

.grid {
  display: flex;
  justify-content: space-between;
}

.divtext {
  width: 100%;
  padding: 1rem;
}

.artinfo {
  font-size: 1.2rem;
}

.divimage {
  width: 80%;
  padding: 1rem;
}

.backwhite .grid h2 {
  font-family: "Redaction 50";
  padding-top: 10vh;
}

.backwhite h3 {
  font-family: "Redaction 50";
  padding-top: 6vh;
}

.backwhite img {
  max-width: 90vh;
  max-height: 90vh;
  padding-top: 1vh;
}

.playicon {
  width: 25px;
  margin-left: 0.4rem;
}

.backwhite .grid p {
  font-family: "Redaction 10";
  margin-top: 1rem;
}

.price {
  position: absolute;
  top: 10vh;
  right: 0;
  background-color: white;
  width: 5rem;
  border-radius: 5px;
  padding: 1rem;
}

.priceoff {
  display: none;
}

.infos {
  padding-top: 2rem;
  color: white;
  width: 52%;
  font-size: 0.8rem;
  font-weight: normal;
}

.profile {
  width: 52%;
}

.profile img {
  width: 100%;
}

.button {
  transition: 5s;
}

.button:hover {
  transition: 5s;
  background-color: white;
  border-radius: 90%;
}

.nextimage {
  cursor: pointer;
}

.imagenext {
  width: 15px;
  margin-left: 15px;
}

@media (max-width: 1400px) {
  .backwhite img {
    max-width: 70vh;
    max-height: 70vh;
  }
}

@media (max-width: 1200px) {
  .backwhite img {
    max-width: 60vh;
    max-height: 60vh;
  }
}

@media (max-width: 1000px) {
  .backwhite img {
    max-width: 50vh;
    max-height: 50vh;
  }
}

@media (max-width: 800px) {
  .backwhite {
    height: 100%;
    width: 100%;
  }

  .backblack {
    height: 100%;
    width: 100%;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    grid-gap: 2%;
  }

  .divtext {
    width: 90%;
  }

  .divimage {
    width: 90%;
  }

  .price {
    position: relative;
    top: 1%;
  }

  .profile {
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    width: 100%;
  }

  .artimage {
    justify-content: center;
    align-items: center;
  }

  .infos {
    padding-top: 8rem;
    color: white;
    width: 100%;
    font-size: 0.8rem;
    font-weight: normal;
  }
}
