.footer {
  background-color: var(--white);
  width: 100%;
  color: black;
  padding: 1rem 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer h1 {
  font-size: 2rem;
}

.footer h1:hover {
  color: var(--black);
  transition: 1s;
}

.footer a {
  text-decoration: none;
  color: black;
}

.footer .side {
  margin: 0 3rem;
}
