.footer {
  position: absolute;
  width: 100%;
  background-color: black;
  color: #aaa;
  padding: 20px 0;
  text-align: center;
}

.footer h3 {
  font-weight: bold;
}

.footer a {
  text-decoration: none;
  color: #aaa;
}
