.footer {
  position: absolute;
  width: 100%;
  background-color: black;
  color: #aaa;
  padding: 20px 0;
  text-align: center;
}

.footer h4 {
  font-family: "Redaction 50";
}

.footer a {
  font-family: "Redaction 50";
  text-decoration: none;
  color: #aaa;
}
