@font-face {
  font-family: "Porpora";
  src: url("../fonts/Porpora-Regular.ttf");
}

@font-face {
  font-family: "Messapia Bold";
  src: url("../fonts/Messapia-Bold.otf");
}

@font-face {
  font-family: "Messapia Regular";
  src: url("../fonts/Messapia-Regular.otf");
}

* {
  font-family: "Porpora";
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.5rem;
}

h1,
h2,
h3 {
  font-family: "Messapia Bold";
}

/* .cursor {
  position: absolute;
  width: 20vh;
  height: 20vh;
  background: #fff;
  border-radius: 50%;
  top: var(--y, 0);
  left: var(--x, 0);
  z-index: 2;
  mix-blend-mode: difference;
} */

.back {
  padding: 1rem;
  position: absolute;
}

/* iPad Pro */
@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
  .cursor {
    position: relative;
  }
}

/* iPad */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .cursor {
    position: relative;
  }
}
