@font-face {
  font-family: "Liberation Regular";
  src: url("../fonts/LiberationSans-Regular.ttf");
}

@font-face {
  font-family: "Liberation Bold";
  src: url("../fonts/LiberationSans-Bold.ttf");
}

* {
  font-family: "Liberation Regular";
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

h1 {
  font-family: "Liberation Bold";
}

.cursor {
  position: absolute;
  width: 20vh;
  height: 20vh;
  background: #fff;
  border-radius: 50%;
  top: var(--y, 0);
  left: var(--x, 0);
  z-index: 2;
  mix-blend-mode: difference;
}

.back {
  padding: 1rem;
  position: absolute;
}

/* iPad Pro */
@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
  .cursor {
    position: relative;
  }
}

/* iPad */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .cursor {
    position: relative;
  }
}

@media (max-width: 700px) {
  .cursor {
    position: relative;
  }
}
