@font-face {
  font-family: "Redaction";
  src: local("Redaction"), url(../fonts/Redaction-mL8P5.otf) format("opentype");
}

* {
  font-family: "Redaction";
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

.cursor {
  position: absolute;
  width: 20vh;
  height: 20vh;
  background: #fff;
  border-radius: 50%;
  top: var(--y, 0);
  left: var(--x, 0);
  z-index: 2;
  mix-blend-mode: difference;
}
