.homepage {
  background-color: white;
  height: 100%;
  width: 100%;
  margin-top: 1rem;
}

.video {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem;
}

.arts {
  background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.motions {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.motion {
  padding: 1rem;
}

.grid {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  grid-gap: 2%;
}

.grid .art1 {
  width: 38vh;
  height: 38vh;
}

.grid .art2 {
  width: 40vh;
  height: 40vh;
}

.grid .art3 {
  width: 44vh;
  height: 44vh;
}

.grid .art4 {
  width: 42vh;
  height: 42vh;
}

.grid img {
  transition: 1s;
  margin-top: 25px;
  font-size: 21px;
  text-align: center;
}

.fadein {
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
}

.grid .art1:hover {
  transform: scale(1.15);
  transition: 1s;
}

.grid .art2:hover {
  transform: scale(1.15);
  transition: 1s;
}

.grid .art3:hover {
  transform: scale(1.15);
  transition: 1s;
}

.grid .art4:hover {
  transform: scale(1.15);
  transition: 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .grid .art1 {
    width: 28vh;
    height: 28vh;
  }

  .grid .art2 {
    width: 30vh;
    height: 30vh;
  }

  .grid .art3 {
    width: 34vh;
    height: 34vh;
  }

  .grid .art4 {
    width: 32vh;
    height: 32vh;
  }
}

@media (max-width: 600px) {
  .motions .grid video {
    width: 30vh;
    height: 30vh;
  }

  .motions .grid {
    grid-template-columns: repeat(1, auto);
  }

  .arts {
    height: 150vh;
  }

  .arts .grid img {
    width: 30vh;
    height: 30vh;
  }

  .arts .grid {
    grid-template-columns: repeat(1, auto);
    grid-gap: 0%;
    padding: 5rem;
  }
}
