.homepage {
  background-color: white;
  height: 100%;
  width: 100%;
}

.mainabout {
  height: 85vh;
  padding: 5vh 0;
}

.aboutcel {
  display: none;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.button {
  cursor: pointer;
  padding: 1rem 3rem;
}

.arts {
  background-color: white;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}

.motions {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.motions .grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  grid-gap: 5%;
}

.arts .grid {
  display: grid;
  grid-template-columns: repeat(1, auto);
  justify-content: center;
}

.arts .grid img {
  width: 70vh;
  height: 70vh;
  transition: 1s;
  margin: 1rem 0;
}

/* .arts .grid img:hover {
  transform: scale(1.15);
  transition: 1s;
} */

.fadein {
  animation: fadein 3s;
  -moz-animation: fadein 3s;
  -webkit-animation: fadein 3s;
  -o-animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .aboutvideo {
    display: none;
  }

  .aboutcel {
    display: inline;
  }
  .arts .grid img {
    width: 33vh;
    height: 33vh;
  }
}

@media (max-width: 700px) {
  .motions .grid img {
    width: 40vh;
    height: 40vh;
  }

  .motions .grid {
    grid-template-columns: repeat(1, auto);
  }

  .arts {
    height: 150vh;
  }

  .arts .grid img {
    width: 30vh;
    height: 30vh;
  }

  .arts .grid {
    grid-template-columns: repeat(1, auto);
    grid-gap: 0%;
    padding: 5rem;
  }

  .mainabout p {
    text-align: left;
    padding: 0 5rem;
  }
}
