.homepage {
  background-color: white;
  height: 100%;
  width: 100%;
  margin-top: 1rem;
}

.video {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem;
}

.arts {
  background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.motions {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.motion {
  padding: 1rem;
}

.grid {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  grid-gap: 2%;
}

.grid .art1 {
  width: 300px;
  height: 300px;
}

.grid .art2 {
  width: 350px;
  height: 350px;
}

.grid .art3 {
  width: 450px;
  height: 450px;
}

.grid .art4 {
  width: 400px;
  height: 400px;
}

.grid img {
  transition: 1s;
}

.grid img:hover {
  transform: scale(1.1);
  transition: 1s;
}
