.homepage {
  background-image: url(../assets//lp-background.png);
  height: 100%;
  width: 100%;
}

.construction {
  text-align: center;
}

.mainabout {
  height: 100vh;
  margin: 10vh;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.button {
  cursor: pointer;
  padding: 1rem 3rem;
}

/* .arts {
}

.motions {
} */

/* .fadein {
  animation: fadein 3s;
  -moz-animation: fadein 3s;
  -webkit-animation: fadein 3s;
  -o-animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

/* iPad Pro */
@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
}

/* iPad */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
}

@media (max-width: 900px) {
}

@media (max-width: 700px) {
}
