.homepage {
  background-color: black;
  height: 100vh;
}

.video {
  padding: 100px;
}

.sign {
  padding: 1rem;
  background-color: white;
  height: 30vh;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
