.homepage {
  background-image: url("./../assets/background.png");
  height: 100%;
  width: 100%;
}

.button {
  cursor: pointer;
  padding: 1rem 3rem;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.navbar-navEducation {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  background-color: rgb(128, 128, 128, 0.4);
  padding: 1rem;
}

.navbar-navSkills {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  right: 0;
  background-color: rgb(128, 128, 128, 0.4);
  padding: 1rem;
}

.nav-item {
  padding: 0.5rem 3rem;
}

.mainabout {
  margin-top: 15vh;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainabout video {
  max-width: 100vh;
  max-height: 50vh;
}

.motions {
  background-image: url(/src/assets/container.png);
  opacity: 0.7;
  display: flex;
  justify-content: flex-end;
  height: 90vh;
  margin-left: 60vh;
  margin-bottom: 10vh;
}

.motions h1 {
  text-align: end;
  padding: 5vh 5vh 0 0;
}

.motions video {
  width: 60vh;
  margin: 5vh;
}

.arts {
  background-image: url(/src/assets/container.png);
  opacity: 0.7;
  height: 75vh;
  margin: 10vh;
}

.arts h1 {
  text-align: end;
  padding: 5vh 5vh;
}

.arts img {
  width: 50vh;
}

.arts .grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
  gap: 10vh;
  margin: 0 10vh;
}

.arts .grid .audio {
  margin: 1vh 10vh;
}

/* .fadein {
  animation: fadein 3s;
  -moz-animation: fadein 3s;
  -webkit-animation: fadein 3s;
  -o-animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

/* iPad Pro */
@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
}

/* iPad */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
}

@media (max-width: 900px) {
  .homepage img,
  .homepage video {
    width: 30vh;
  }

  .homepage h1,
  .homepage h2,
  .homepage h3,
  .homepage h4 {
    font-size: 0.7rem;
  }

  .mainabout {
    margin-top: 0;
    height: 100vh;
  }

  .motions {
    display: grid;
    grid-template-columns: repeat(1, auto);
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin: 3vh;
  }

  .motions video {
    margin: 1vh 10vh;
    margin-top: 5vh;
  }

  .motions h1 {
    text-align: center;
    padding: 0;
  }

  .arts {
    height: 150vh;
    margin: 3vh;
  }

  .arts .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    margin: 0;
  }

  .arts .grid img {
    margin-left: 10vh;
  }

  .arts .grid .audio {
    margin: 1vh;
  }
}
