.homepage {
  background-color: white;
  height: 100%;
  width: 100%;
  margin-top: 3rem;
}

.video {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.link {
  font-family: "Redaction 100";
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  margin: 1.5rem;
}

.arts {
  background-color: white;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.motions {
  background-color: black;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.arts .grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  grid-gap: 4%;
}

.arts .grid img {
  width: 43vh;
  height: 43vh;
  transition: 1s;
  margin-top: 25px;
}

.arts .grid img:hover {
  transform: scale(1.15);
  transition: 1s;
}

.fadein {
  animation: fadein 3s;
  -moz-animation: fadein 3s;
  -webkit-animation: fadein 3s;
  -o-animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .arts .grid img {
    width: 33vh;
    height: 33vh;
  }
}

@media (max-width: 700px) {
  .motions .grid img {
    width: 40vh;
    height: 40vh;
  }

  .motions .grid {
    grid-template-columns: repeat(1, auto);
  }

  .arts {
    height: 150vh;
  }

  .arts .grid img {
    width: 30vh;
    height: 30vh;
  }

  .arts .grid {
    grid-template-columns: repeat(1, auto);
    grid-gap: 0%;
    padding: 5rem;
  }
}
