.homepage {
  background-color: black;
  height: 100%;
  width: 100%;
}

.video {
  text-align: center;
  padding: 1rem;
}

.sign {
  padding: 1rem;
  background-color: white;
  height: 45vh;
}

.signimg {
  position: absolute;
  width: 30rem;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
}

.arts {
  background-color: black;
  text-align: center;
  padding: 1rem;
}

.motions {
  background-color: white;
  text-align: center;
  padding: 1rem;
}

.grid {
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  grid-gap: 2%;
}

.grid .art1 {
  width: 400px;
  height: 400px;
}

.grid .art2 {
  width: 450px;
  height: 450px;
}

.grid .art3 {
  width: 550px;
  height: 550px;
}

.grid .art4 {
  width: 500px;
  height: 500px;
}

.grid img {
  transition: 1s;
}

.grid img:hover {
  transform: scale(1.2);
  transition: 1s;
}

.grid video {
  width: 100%;
  height: 100%;
}

@media (max-width: 960px) {
  .signimg {
    top: 15%;
  }
}
